.vscode/
logs/
dist/
build/
# exclude everything in every folder
/monthly_data/**/*.*


# include only .gitkeep files
!/monthly_data/**/*.gitkeep
__pycache__/

# Environment variables file (contains sensitive information)
.env

/node-v24.12.0-win-x64